
*{

/*background-color : rgba(0,0,0,0.8)*/
}
 p{
color: teal;
}

.main{

background-color : rgba(255,255,255,0.3)
}
.heading{
color:blue;
}
#loginBtn{
background-color: teal;
color:white;

margin-top:6px;
margin-left:3rem;
}
h4{
color: rgba(180,70,150,0.8) ;
}
label{color: rgba(180,70,150,0.8) ;}

h4,label{
color: rgba(180,70,150,0.8)
}



